.home {
    display: inline-block;
    height: 100%;
}

.center {
    display: inline-block;
}
.opener {
    font-size: 50px;
    font-family: 'Bellefair', serif;
    margin-bottom: 0px;
    margin-top: 20px;

}
.aboutP {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    padding: 0 150px 0 150px;
}

.logo {
    height: 300px;
}

.h3 {
    margin-top: 40px;
    font-size: 20px;
}

.aboutMe {
    font-family: 'Bellefair', serif;
}

.button {
    width: 400px;
}
