.home {
    display: inline-block;
    height: 80vh;
    padding-top: 15px;
}

.center {
    display: flex;
}
.opener {
    font-size: 50px;
    font-family: 'Zilla Slab', serif;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;

}
.aboutP {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 0 50px 0 50px;
    text-align: center;
    margin-left: 40px;
}

.imgWrapper {
    height: 400px;
    width: 400px;
}

.logo {
    height: 400px;
    width: 400px;
    padding: 80px 0 0 70px;
}

