.header {
    position: fixed;
    z-index: 1;
    filter: opacity(95%);
    width: 100%;
    background: white;
    padding: 0;
    height: 10%;
}

.container {
    position: relative;
    margin: 0;
}


.logo {
    display: inline-block;
    font-size: 20px;
    font-family: 'Bellefair', serif;
    margin-left: 10px;
    color: black;
    padding: 0;
    float: left;
}

.logoContainer {
    width: 70px;
    height: 70px;
    display: contents;
}

.menu {
    line-height: 64px;
    text-align: center;
    width: 100%;
    padding-right: 10vw;
}

.item {
    padding: 0 50px 0 50px;
}

.content {
    margin-top: 64px;
    background: white;
    text-align: center;
    width: 100%;
    padding-bottom: 64px;
}

.footer {
    text-align: center;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
