.header {
    position: fixed;
    zIndex: 1;
    width: 100%;
    background: white;
    padding: 0;
}

.logo {
    display: inline-block;
    font-size: 20px;
    font-family: 'Bellefair', serif;
    margin-left: 10px;
    color: black;
    padding: 0;
    float: left;
}

.logoContainer {
    margin: 10px;
    padding: 10px;
    width: 70px;
    height: 70px;
    display: contents;
}

.menu {
    line-height: 64px;
    text-align: center;
}

.content {
    margin-top: 64px;
    padding: 0 100px;
}

.contentDiv {
    background: white;
    padding: 24px;
    min-height: 380px;
    text-align: center;
}

.footer {
    text-align: center;
}
